Need for speed


Description

Now, let's use even faster methods to sort the list of numbers and to search in the list. In this stage, we will compare the efficiency of all three approaches.

Objectives

Like in the previous stage, you should first sort the list of phone numbers by the owner’s name and then search for the numbers of the 500 people from the
list given in the first stage. Remember: to get decent and comparable results, you should put all the algorithms in the same initial conditions.
For sorting, use the quick sort algorithm, and for searching, the binary search algorithm.

Output all three approaches one after another and see which one is faster.